section {
	height: 39vh;
	width: 90%;
	margin: 2vh 5% 10vh 5%;
	border-top: 1px solid lightgray;
	display: block;
}
#map-section {
	margin-top: 1vh;
	margin-bottom: 1vh;
	height: 49vh;
}

#crag-map {
	position: relative;
	width: 50%;
	height: 100%;
	margin: 0 auto;
}

#all-crags-graph, #routes-graph, #route-info {
	/*height: 220px;*/
	height: 80%;
	/*border-top: 1px solid lightgray;*/
	padding-top: 10px;
	/*width: 90%;*/
	/*margin-left: 5%;*/
}


#routes-graph {
	height: 50%
	margin-bottom: 10%;
}
#routes-graph .bar-label {
	display: none;
	transform: initial;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background-color: rgb(40,40,40);
	margin 0 auto;
	bottom: -10px;
}
#routes-graph .bar-highlighted .bar-label {
	display: initial;
}

#route-info {
	height: 30%;
	border-top: 1px dashed lightgray;
}
#route-name {
	font-weight: bold;
	text-align: center;
}
#route-grade {
	text-align: center;
}

body {
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

.sandbag-graph .clicked {
	padding-bottom: 2px;
	border-bottom: 2px solid rgb(40,40,40);
}