#crag-map {
	position: relative;
	width: 800px;
	height: 400px;
	margin: 0 auto;
}

#all-crags-graph, #routes-graph {
	height: 220px;
	border-top: 1px solid lightgray;
	padding-top: 10px;
}

body {
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

.sandbag-graph .clicked {
	border-bottom: 1px solid black;
}